@import "../../style/config";
.placeOrder {
  margin-top: 118.92px;
  font-family: $font-secondary;
  color: $color-light-black-1;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 70px;
  }

  h1 {
    display: flex;
    width: 50%;
    margin: 1rem auto;

    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
